interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://hubblesite.org/api/v3/news_release/first
  response:
    body: {string: '{"name":"HST WC/PC First Light Image","news_id":"1990-04","url":"http://hubblesite.org/news_release/news/1990-04","publication":"1990-05-20T00:00:00.000-04:00","mission":"hubble","abstract":"On
        the right is part of the first image taken with NASA''s Hubble Space Telescope''s
        (HST) Wide Field/Planetary Camera. It is shown with a ground-based picture
        from a Las Campanas, Chile, observatory of the same region of the sky. The
        Las Campanas picture was taken with a 100-inch telescope and it is typical
        of high-quality pictures obtained from the ground. All objects seen are stars
        within the Milky Way galaxy.","credits":"Credit: \u003ca href=\"http://www.nasa.gov/\"\u003eNASA\u003c/a\u003e,
        \u003ca href=\"http://www.spacetelescope.org/\"\u003eESA\u003c/a\u003e, and
        \u003ca href=\"http://www.stsci.edu/\"\u003eSTScI\u003c/a\u003e","thumbnail":"https://media.stsci.edu/uploads/story/thumbnail/1/low_small_web.jpg","thumbnail_retina":"https://media.stsci.edu/uploads/story/thumbnail/1/small_web.jpg","thumbnail_1x":"https://media.stsci.edu/uploads/story/thumbnail/1/low_small_web.jpg","thumbnail_2x":"https://media.stsci.edu/uploads/story/thumbnail/1/small_web.jpg","release_images":[1]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"cd187a28ddaee577e369098fcc007d55"]
      STSCI-ML-Item-Count: ['1']
      Status: [200 OK]
      X-total-count: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://hubblesite.org/api/v3/news_release/2016-24
  response:
    body: {string: "{\"name\":\"Hubble Captures Vivid Auroras in Jupiter's Atmosphere\",\"news_id\":\"2016-24\",\"url\":\"http://hubblesite.org/news_release/news/2016-24\",\"publication\":\"2016-06-30T10:00:00.000-04:00\",\"mission\":\"hubble\",\"abstract\":\"Astronomers
        are using NASA's Hubble Space Telescope to study auroras \u2014 stunning light
        shows i[...]
