interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://hubblesite.org/api/v3/external_feed/esa_feed?sort=-pub_date
  response:
    body: {string: "[{\"title\":\"Photo Release: BUFFALO charges towards the earliest
        galaxies\",\"pub_date\":\"2018-09-13T11:00:00.000-04:00\",\"description\":\"The
        NASA/ESA Hubble Space Telescope has started a new mission to shed light on
        the evolution of the earliest galaxies in the Universe. The BUFFALO survey
        will observe six massive galaxy clusters and their surroundings. The first
        observations show the galaxy cluster Abell 370 and a host of magnified, gravitationally
        lensed galaxies around it.\",\"link\":\"http://www.spacetelescope.org/news/heic1816/\",\"image\":\"https://media.stsci.edu/uploads/feed_post/thumbnail/9629/heic1816a.jpg\",\"image_square\":\"https://media.stsci.edu/uploads/feed_post/thumbnail/9629/square_low_heic1816a.jpg\",\"image_square_large\":\"https://media.stsci.edu/uploads/feed_post/thumbnail/9629/square_heic1816a.jpg\",\"thumbnail\":\"https://media.stsci.edu/uploads/feed_post/thumbnail/9629/thumb_low_heic1816a.jpg\",\"thumbnail_large\":\"https://media.stsci.edu/uploads/feed_post/thumbnail/9629/thumb_heic1816a.jpg\"},{\"title\":\"Photo
        Release: Hubble observes energetic lightshow at Saturn\u2019s north pole\",\"pub_date\":\"2018-08-30T10:00:00.000-04:00\",\"description\":\"Astronomers
        using the NASA/ESA Hubble Space telescope have taken a series of spectacular
        images featuring the fluttering auroras at the north pole of Saturn. The observations
        were taken in ultraviolet light and the resulting images provide astronomers
        with the most comprehensive picture so far of Saturn\u2019s northern aurora.\",\"lin[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://hubblesite.org/api/v3/external_feed/esa_feed?page=1&sort=pub_date
  response:
    body: {string: "[{\"title\":\"Photo Release: Hubble captures vivid auroras in
        Jupiter\u2019s atmosphere\",\"pub_date\":\"2016-06-30T10:00:00.000-04:00\",\"description\":\"Astronomers
        are using the NASA/ESA Hubble Space Telescope to study auroras \u2014 stunning
        light shows in a planet\u2019s atmosphere \u2014 on the poles[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://hubblesite.org/api/v3/external_feed/esa_feed?page=all&sort=pub_date
  response:
    body: {string: "[{\"title\":\"Photo Release: Hubble captures vivid auroras in
        Jupiter\u2019s atmosphere\",\"pub_date\":\"2016-06-30T10:00:00.000-04:00\",\"description\":\"Astronomers
        are using the NASA/ESA Hubble Space Telescope to study auroras \u2014 stunning
        light shows in a planet\u2019s atmosphere \u2014 on the pol[...]
[...]
