interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://hubblesite.org/api/v3/external_feed/esa_feed/2017-03-23T13:00:00.000-04:00
  response:
    body: {string: '{"title":"Science Release: Hubble detects supermassive black hole
        kicked out of galactic core","pub_date":"2017-03-23T13:00:00.000-04:00","description":"An
        international team of astronomers using the NASA/ESA Hubble Space Telescope
        have uncovered a supermassive black hole that has been propelled out of the
        centre of the distant galaxy 3C186. The black hole was most likely ejected
        by the power of gravitational waves. This is the first time that astronomers
        found a supermassive black hole at such a large distance from its host galaxy
        centre.","guid":"http://www.spacetelescope.org/news/heic1706/","image":"https://media.stsci.edu/uploads/feed_post/thumbnail/491/heic1706a.jpg","image_square":"https://media.stsci.edu/uploads/feed_post/thumbnail/491/square_low_heic1706a.jpg","image_square_large":"https://media.stsci.edu/uploads/feed_post/thumbnail/491/square_heic1706a.jpg","thumbnail":"https://media.stsci.edu/uploads/feed_post/thumbnail/491/thumb_low_heic1706a.jpg","thumbnail_large":"https://media.stsci.edu/uploads/feed_post/thumbnail/491/thumb_heic1706a.jpg"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"96ad8612118eb66223180a9bc60f7d94"]
      STSCI-ML-Item-Count: ['1']
      Status: [200 OK]
      X-total-count: ['1']
    status: {code: 200, message: OK}
[...]
