interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://hubblesite.org/api/v3/image/4229
  response:
    body: {string: "{\"name\":\"Galaxy Cluster Abell 370\",\"description\":\"This
        image shows a massive galaxy cluster embedded in the middle of a field of
        nearly 8,000 galaxies scattered across space and time. This \\\"galaxies galore\\\"\x9D
        snapshot is from a new Hubble Space Telescope survey to boldly expand its
        view by significantly enlarging the area covered around huge galaxy clusters
        previously photographed by Hubble.\\r\\n\\r\\nThe program, called Beyond Ultra-deep
        Frontier Fields And Legacy Observations (BUFFALO[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://hubblesite.org/api/v3/image/4230
  response:
    body: {string: '{"name":"Compass Image for Abell 370","credits":"\u003ca href=\"http://www.nasa.gov\"\u003eNASA\u003c/a\u003e,
        \u003ca href=\"http://www.spacetelescope.org\"\u003eESA\u003c/a\u003e, A.
        Koekemoer (\u003ca href=\"http://www.stsci.edu\"\u003eSTScI\u003c/a\u003e),
        M. Jauzac (Durham University), C. Steinhardt (Niels Bohr Institute), and the
        BUFFALO team","news_name":"b","mission":"hubble","collection":"news","image_files":[{"file_url":"https://media.stsci.edu/uploads/image_file/image_attachment/30949/STSCI-H-p1839b-z-878x1000.png","file_size":1402541,"width":878,"height":1000},{"file_url":"https://media.stsci.edu/uploads/image_file/image_attachment/30948/STSCI-H-p1839b-m-1757x2000.png","file_size":5713175,"width":1757,"height":2000},{"file_url":"https://media.stsci.edu/uploads/image_file/image_attachment/30947/STSCI-H-p1839b-f-7819x8897.png","file_size":98878751,"width":7819,"height":8897},{"file_url":"https://media.stsci.edu/uploads/image_file/image_attachment/30946/STSCI-H-p1839b-f-7819x8897.tif","file_size":92749096,"width":7819,"height":8897}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"96035b48cc85278da228ac503695f764"]
      STSCI-ML-Item-Count: ['1']
      Status: [200 OK]
      X-total-count: ['1']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://hubblesite.org/api/v3/image/4230
  response:
    body: {string: '{"name":"Compass Image for Abell 370","credits":"\u003ca href=\"http://www.nasa.gov\"\u003eNASA\u003c/a\u003e,
        \u003ca href=\"http://www.spacetelescope.org\"\u003eESA\u003c/a\u003e, A.
        Koekemoer (\u003ca href=\"http://www.stsci.edu\"\u003eSTScI\u003c/a\u003e),
        M. Jauzac (Durham University), C. Steinhardt (Niels Bohr Institute), and the
        BUFFALO team","news_name":"b","mission":"hubble","collection":"news","image_files":[{"file_url":"https://media.stsci.edu/uploads/image_file/image_attachment/30949/STSCI-H-p1839b-z-878x1000.png","file_size":1402541,"width":878,"height":1000},{"file_url":"https://media.stsci.edu/uploads/image_file/image_attachment/30948/STSCI-H-p1839b-m-1757x2000.png","file_size":5713175,"width":1757,"height":2000},{"file_url":"https://media.stsci.edu/uploads/image_file/image_attachment/30947/STSCI-H-p1839b-f-7819x8897.png","file_size":98878751,"width":7819,"height":8897},{"file_url":"https://media.stsci.edu/uploads/image_file/image_attachment/30946/STSCI-H-p1839b-f-7819x8897.tif","file_size":92749096,"width":7819,"height":8897}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"96035b48cc85278da228ac503695f764"]
      STSCI-ML-Item-Count: ['1']
      Status: [200 OK]
      X-total-count: ['1']
    status: {code: 200, message: OK}
version: 1
