interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://hubblesite.org/api/v3/video/55
  response:
    body: {string: '{"name":"Hubble Reborn","short_description":"Hubble''s 2002 repair
        mission gave the telescope a new view of the universe.","credits":"VIDEO PRODUCTION:
        John Stoke, Bryan Preston, Greg Bacon, Dana Berry (\u003ca href=\"http://www.stsci.edu/\"\u003eSTScI\u003c/a\u003e),
        and NASA \r\nNARRATION: Deborah Benner  \r\nMUSIC: Associated Production Music","mission":"hubble","collection":"science","image":"https://media.stsci.edu/uploads/video/image_attachment/55/low_hubble-reborn-thumb-16x9.png","image_retina":"https://media.stsci.edu/uploads/video/image_attachment/55/hubble-reborn-thumb-16x9.png","video_files":[{"file_url":"https://media.stsci.edu/uploads/video_file/video_attachment/262/reborn_448x336.flv","file_size":47052599,"width":448,"height":336,"format":"Flash
        Video"},{"file_url":"https://media.stsci.edu/uploads/video_file/video_attachment/261/reborn_640x480.swf","file_size":138697490,"width":640,"height":480,"format":"Macromedia
        Flash"},{"file_url":"https://media.stsci.edu/uploads/video_file/video_attachment/265/reborn_320x240.swf","file_size":84905979,"width":320,"height":240,"format":"Macromedia
        Flash"},{"file_url":"https://media.stsci.edu/uploads/video_file/video_attachment/264/reborn_320x240.mpg","file_size":43829252,"width":320,"height":240,"format":"MPEG-1"},{"file_url":"https://media.stsci.edu/uploads/video_file/video_attachment/263/reborn_640x480.mov","file_size":94686728,"width":640,"height":480,"format":"MPEG-4
        (H.264)"},{"file_url":"https://media.stsci.edu/uploads/video_file/video_attachment/267/reborn_320x240.mov","file_size":51719764,"width":320,"height":240,"format":"MPEG-4
        (H.264)"},{"file_url":"https://media.stsci.edu/uploads/video_file/video_attachment/266/reborn_320x240.wmv","file_size":110924686,"width":320,"height":240,"format":"Windows
        Media"}]}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: [W/"a887db7f223d132ee914787d51b83e39"]
      STSCI-ML-Item-Count: ['1']
      Status: [200 OK]
      X-total-count: ['1']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://hubblesite.org/api/v3/video/58
  response:
    body: {string: '{"name":"Hubble 2003","short_description":"A look back at the
        top Hubble discoveries of 2002, and predictions for future finds.","credits":"Video
        Production: \u003ca href=\"http://www.nasa.gov/\"\u003eNASA\u003c/a\u003e,
        John Stoke, Bryan Preston, Greg Bacon, and Frank Summers (\u003ca href=\"http://www.stsci.edu/\"\u003eSTScI\u003c/a\u003e),
        Dana Berry, Ken Lanzetta, and \u003ca href=\"http://www.spacetelescope.org/\"\u003eESA\u003c/a\u003e;  \r\nNarration:
        David DeBoy;  \r\nMusic: Associated Production Music","mission":"hubble","collection":"science","image":"https://media.stsci.edu/uploads/video/image_attachment/58/low_hub[...]
